@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SmartHomeNancy.Model.Datapoint>

<html>
<head>
    <title>Datapoint</title>
</head>
<body>
    <h1>New datapoint</h1>
    Name: @Model.Name <br />
    Value: @Model.Value <br />
</body>
</html>